

@{
    ViewBag.Title = "Dev Challenge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Dev Challenge</h2>
<img src="~/Content/Images/antarcticmountain.jpg" width="500" height="300"alt=""/>


<input type="button" value="Discover the secret phrase" onclick="location.href='@Url.Action("Encrypt", "Home")'" />

The secret phrase is @ViewBag.phrase